* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgray;
  min-height: 100vh;
  border: 10px solid rgb(87, 43, 169);
}
#content {
  max-width: 900px;
  margin: 0 auto;
}

.top-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top-section h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(19, 41, 41);
  text-transform: uppercase;
}
.top-section h4 {
  text-align: end;
  font-size: 30px;
}
.img-container {
  border-radius: 30%;
  overflow: hidden;
}
.img-container,
img {
  width: 300px;
  height: 300px;
}
.about-section {
  margin-top: 50px;
}
.about-section h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about-section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

.bio-section {
  margin: 50px 0;
}
.bio-section h3 {
  margin-bottom: 30px;
}
.bio-section ul {
  margin-left: 50px;
}
.bio-section li {
  margin-bottom: 15px;
}
footer {
  margin: 50px 0;
}
footer p {
  text-align: end;
}
